<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appoint an administrator</title>
</head>
<body>

<!--выпадающий список (делается с помощью form, чтобы можно было отправить на сервер)-->
<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="person">Select user:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
        th:text="${person.getName()}"></option>
    </select>

    <input type="submit" value="Appoint as administrator"/>
</form>

</body>
</html>